@import '../mixins';

  .header {
    height: pxTorem(160px);
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: yellow;
    background-size: 100% 100%;
  }

  .header +div {
    position: relative;
    margin: 0;
    width: 100%;
    height: pxTorem(53px);
    text-align: center;
    background-color: #151002;

    p {
      position: relative;
      height: 100%;
      top: pxTorem(16px);
      color: #fff;
      font-size: pxTorem(15px);
      letter-spacing: pxTorem(1.15px);
    }
  }

  .signUp {
    position: relative;
    width: 100%;
    text-align: center;
    height: pxTorem(454px);
    background-color: #ffffff;

    form {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      >input {
        position: relative;
        width: pxTorem(295px);
        height: pxTorem(60px);
        border: {
          width: 0 0 pxTorem(.5px) 0;
          style: solid;
          color: #E6E6E6;
        }

        color: #ADADAD;
        font-size: pxTorem(15px);
        padding-left: pxTorem(30px);
      }

      >input:first-child {
        margin: {
          top: pxTorem(50px);
          bottom: pxTorem(10px);
        }

      }

      .icon {
        position: absolute;
        height: pxTorem(15.5px);
        width: pxTorem(16.5px);
        left: pxTorem(30px);
        z-index: 9;
        background-color: #ADADAD;
      }

      .icon_head {
        top: pxTorem(70px);
      }

      .icon_telephone {
        top: pxTorem(145px);
      }

      .radioGroup {
        position: relative;
        display: block;
        top: pxTorem(20px);
        padding-left: pxTorem(25px);

        label {
          position: relative;
          width: pxTorem(120px);
          font-size: pxTorem(15px);
          color: #ADADAD;
          margin:  {
            right: pxTorem(85px);
            top: pxTorem(30px);
          };

          >input {
            position: relative;
            display: inline;
            width: pxTorem(12px);
            height: pxTorem(12px);
            background-color: #cccccc;
            left: pxTorem(-10px);
            margin-top: pxTorem(30px);
        }
        }
      }

      button {
        position: absolute;
        width: pxTorem(275px);
        height: pxTorem(44px);
        margin: 0 auto;
        opacity: .8;
        background-color: #FBDD20;
        border: none;
        border-radius: pxTorem(27.5px);
        bottom: pxTorem(55px);
        left: pxTorem(40px);
        text-align: center;

        font-size: pxTorem(17px);
        letter-spacing: pxTorem(.65px);
        color: #7B7B7B;
      }

    }
  }
