@import '../mixins';

  .header {
    height: pxTorem(160px);
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: url("../../img/signUp/icon_top_pic.png") no-repeat;
    background-size: 100% 100%;
  }

  .title {
    height: pxTorem(53px);
    text-align: center;
    background-color: #151002;
    font-size: px2rem(15px);
    line-height: px2rem(53px);
    color: #fff;
  }

  .signUp {
    margin-top: px2rem(47.5px);
    .name, .mobile {
      width: px2rem(295px);
      border-bottom: px2rem(1px) #E6E6E6 solid;
      padding-bottom: px2rem(11.5px);
      display: flex;
      margin: 0 auto;
      align-items: center;
      label {
        display: block;
        width: px2rem(16.5px);
        height: px2rem(16.5px);
        margin-right: px2rem(9px);
        background-size: px2rem(16.5px) px2rem(16.5px);
        background-repeat: no-repeat;
        background-image: url("../../img/signUp/icon_user.png");
        &.active {
          background-image: url("../../img/signUp/icon_user02.png");
        }
      }
      input {
        flex: 1;
        border: none;
        outline: none;
        line-height: px2rem(21px);
        font-size: px2rem(15px);
      }
    }
    .mobile {
      margin-top: px2rem(17.5px);
      label {
        background-image: url("../../img/signUp/icon_telephone.png");
        &.active {
          background-image: url("../../img/signUp/icon_telephone02.png");
        }
      }
    }
    .option {
      margin-top: px2rem(22.5px);
      margin-bottom: px2rem(50.5px);
      width: 100%;
      box-sizing: border-box;
      padding-left: px2rem(46px);
      display: flex;
      flex-wrap: wrap;
      > label {
        display: flex;
        align-items: center;
        font-size: px2rem(15px);
        margin-bottom: px2rem(12.5px);
        margin-right: px2rem(50px);
        color: #ADADAD;
        input {
          border: none;
          margin-right: px2rem(5px);
        }
      }
    }
  }
  #submitBtn {
    width: px2rem(275px);
    height: px2rem(44px);
    line-height: px2rem(44px);
    background-color: #FBDD20;
    color: #333;
    border: none;
    outline: none;
    border-radius: px2rem(27.5px);
    font-size: px2rem(17px);
    margin: 0 auto;
    display: block;
    transition: opacity .5s ease;
    &:disabled {
      opacity: .2;
    }
  }

  .popup {
    display: none;
    .mask {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .5);
    }
    .content {
      width: px2rem(275px);
      height: px2rem(285px);
      background: url("../../img/signUp/icon_succse.png") no-repeat;
      background-size: px2rem(275px) px2rem(285px);
      position: fixed;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .back {
        position: absolute;
        width: px2rem(122px);
        height: px2rem(30px);
        line-height: px2rem(30px);
        text-align: center;
        border-radius: px2rem(29px);
        background-color: #FADC17;
        bottom: px2rem(20.5px);
        left: 50%;
        transform: translateX(-50%);
        font-size: px2rem(15px);
        color: #212224;
      }
    }
  }