  @import '../mixins';
  @import '../_common';

  html, body {
    background-color: #f5f5f5;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: px2rem(375px);
    height: px2rem(44px);
    background-color: #fff;
    z-index: 100;
    h1 {
      text-align: center;
      line-height: px2rem(44px);
      color: #212224;
      font-size: px2rem(17px);
    }
    .nav {
      height: px2rem(35px);
      background-color: #fff;
      box-shadow: 0 px2rem(1px) px2rem(3px) rgba(0,0,0,0.10);

      >div {
        padding-left: px2rem(30px);
      }

      a {
        color: #8E8F92;
        font-size: px2rem(15px);
        padding: 0 px2rem(14px);
        width: auto !important;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 0 px2rem(5px);
        position: relative;
        &:before, &:after {
          content: '';
          width: 0;
          bottom: 0;
          height: px2rem(2px);
          background-color: #FBDD20;
          position: absolute;
          transition: width ease .5s;
        }
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
        &.active {
          &:before, &:after {
            width: 50%;
          }
          color: #212224;
        }
      }
    }
    #back {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: px2rem(35px);
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      i {
        display: block;
        width: px2rem(10px);
        height: px2rem(16px);
        background-size: px2rem(10px) px2rem(16px);
        background-repeat: no-repeat;
        background-image: url("../../img/common/back.png");
      }
    }
  }


  .content {
    position: relative;
    width: px2rem(346.5px);
    top: px2rem(79px);
    margin: px2rem(15px) auto;

    font-size: px2rem(13px);
    color: #212224;
    line-height: px2rem(18.5px);
    padding-bottom: px2rem(32px);
    overflow: hidden;
    .swiper-slide {
      margin-right: px2rem(15px);
      word-break: break-all;
    }
  }

