.page {
    width: 100%;
    height: 120px;
    background-color: #b1b1b1;
}


.frontCover {
    width: 100%;
    height: 400px;
    background-color: #eeeeee;

    >div {
        width: 1200px;
        height: 100%;
        margin: 0 auto;

        >p {
            font-size: 73px;
            line-height: 400px;
            color: #020202;
            text-align: center;
            margin: 0;
        }
    }
}


.main {
    width: 100%;
    margin: 0;
    padding: 0;

    .campusIntroduction {
        width: 1200px;
        height: 460px;
        margin: 0 auto;


        >li {
            display: flex;
            height: 100%;
            margin: 94px auto;
            list-style-type: none;

            .campusImg {
                width: 700px;
                height: 100%;
                background-color: #d8d8d8;

                >img {
                    width: 100%;
                    height: 100%;
                }
            }

            .interval {
                order: 2;
                width: 70px;
                height: 100%;
            }

            .briefIntroduction {
                position: relative;
                width: 430px;
                height: 100%;

                .title {
                    font-size: 46px;
                    color: #282627;
                    box-sizing: border-box;
                    margin-bottom: 107px;
                    text-align: left;
                }

                .content {
                    font-size: 20px;
                    color: #696969;
                    text-align: left;
                }

                .btn {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    background-color: #fde200;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        >li:nth-child(odd) {
            .campusImg {
                order: 1;
            }

            .briefIntroduction {
                order: 3;
            }
        }

        >li:nth-child(even) {
            .campusImg {
                order: 3;
            }

            .briefIntroduction {
                order: 1;
            }

        }
    }

}