@import '../common';
.page {
  width: 100%;
  height: 120px;
  background-color: #b1b1b1;
}

.frontCover {
  position: relative;
  width: 100%;
  height: 360px;
  background-image: url("../../img/campus/frontCover.png");
  background-size: 100% 100%;
  z-index: 1;
}

.main {
  width: 100%;
  margin: 0;
  padding: 0;

  .campusIntroduction {
    width: 1200px;
    margin: 0 auto;

    > li {
      display: flex;
      height: 320px;
      margin: 120px auto;
      list-style-type: none;

      .campusImg {
        width: 480px;
        height: 100%;
        overflow: hidden;
        background-color: #d8d8d8;

        > img {
          width: 100%;
          height: 100%;
          transition: all .8s;
        }

        &:hover {

          > img  {
            transform: scale(1.4);
          }
        }
      }

      .interval {
        order: 2;
        width: 90px;
        height: 100%;
      }

      .briefIntroduction {
        position: relative;
        width: 630px;
        height: 100%;

        .title {
          font-size: 46px;
          color: #282727;
          line-height: 65px;
          box-sizing: border-box;
          margin-bottom: 25px;
          text-align: left;
        }

        .content {
          width: 100%;
          font-size: 20px;
          line-height: 30px;
          color: #696969;
          box-sizing: border-box;
          text-align: left;
        }

        .btn {
          position: absolute;
          width: 70px;
          height: 70px;
          bottom: 0;
          opacity: 0;
          transition: .6s;

          >a {
            >i {
              display: block;
              width: 100%;
              height: 100%;
              background-size: 100% 100%;
              transition: all .3s;
            }
          }
        }
      }

      &:nth-child(odd) {
        .campusImg {
          order: 1;
        }

        .briefIntroduction {
          order: 3;

          .content {
            padding-right: 80px;
          }

          .btn {
            right: 0;

            >a {
              >i {
                background-image: url("../../img/campus/right.png");
              }
            }
          }
        }
      }

      &:nth-child(even) {
        .campusImg {
          order: 3;
        }

        .briefIntroduction {
          order: 1;

          .content {
            padding-left: 80px;
          }

          .btn {
            left: 0;

            >a {
              >i {
                background-image: url("../../img/campus/left.png");
              }
            }
          }
        }
      }

      &:hover {
        .briefIntroduction {
          .btn {
            opacity: 1;
          }
        }
      }
    }
  }
}

.bottom {
  width: 100%;
  height: 230px;
  background-color: #282828;
}