  @import '../mixins';
  @import '../_common';

  html, body {
    background-color: #f5f5f5;
  }

  .head {
    width: 100%;
    height: px2rem(188.5px);

    >img {
      width: 100%;
      height: 100%;
      opacity: .63;
      background: linear-gradient(-90deg, #000000 0%, rgba(0,0,0,0.00) 100%);
    }
  }

  .content {
    width: px2rem(330.5px);
    margin: px2rem(15px) auto;

    font-size: px2rem(13px);
    color: #212224;
    line-height: px2rem(18.5px);
  }