.page {
  width: 100%;
  height: 120px;
  background-color: #b1b1b1;
}

.frontCover {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: #eeeeee;
  z-index: 1;

  .shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #010B16;
    opacity: .8;
    z-index: 2;
  }

  >.frontCover-title {
    position: relative;
    font-family: NfOSWJ,sOS;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 999;

    > p {
      font-size: 80px;
      line-height: 400px;
      color: #ffffff;
      text-align: center;
      margin: 0;
    }
  }
}


.main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;


  .centre {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 86px;
    box-sizing: border-box;

    .information {
      width: 100%;
      height: 180px;
      background-color: #F7F7F7;
      display: flex;
      margin-bottom: 35px;

      .information-img {
        width: 500px;
        height: 100%;

        >img  {
          height: 100%;
          width: 100%;
        }
      }

      .content {
        width: 700px;
        height: 100%;
        padding-left: 50px;
        padding-top: 30px;
        box-sizing: border-box;

        .information-title {
          font-size: 20px;
          line-height: 28px;
          color: #282727;

          >p {
           margin: 0;
            padding: 0;
          }
        }

        .summary {
          height: 44px;
          width: 613px;
          margin-top: 5px;
          margin-bottom: 15px;

          >p {
            color: #6f6f6f;
            font-size: 16px;
            line-height: 22px;
            margin: 0;
            padding: 0;

            word-break:break-all;
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient:vertical;
            overflow:hidden;
          }
        }

        .btn {
          width: 100%;
          height: 26px;

          >a {
            button {
              height: 100%;
              width: 120px;
              color: #2C2C2C;
              font-size: 16px;
              line-height: 22px;
              background-color: #FFE100;
              border:none;
            }
          }

        }
      }
    }

  }
}

.bottom {
  width: 100%;
  height: 230px;
  background-color: #282828;
}