@import '../common';
html, body, .page {
  width: 100%;
}
.page {
  overflow-x: hidden;
  a {
    color: inherit;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    pointer-events: none;
  }
  .swiper-button-next {
    background-image: url("../../img/home/yes-right.png");
    &.swiper-button-disabled {
      background-image: url("../../img/home/no-right.png");
    }
  }
  .swiper-button-prev {
    background-image: url("../../img/home/yes-left.png");
    &.swiper-button-disabled {
      background-image: url("../../img/home/no-left.png");
    }
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .header {
    height: 120px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    .top {
      .home {
        display: block;
        width: 224px;
        height: 51px;
        margin-top: 10px;
      }
      .back-home {
        float: left;
        border-radius: 26px;
        border: 1px solid #282727;
        padding: 3px 6px;
        margin: {
          top: 29px;
        }
        text-align: center;
        font-size: 12px;
      }
      .address {
        display: flex;
        align-items: center;
        height: 16px;
        line-height: 16px; 
        float: left;
        margin: {
          top: 33px;
        }
        > li {
          padding: 0 15px;
          display: flex;
          align-items: center;
          &:not(:last-child) {
            border-right: 1px solid #888;
          }
        } 
        a {
          color: #888;
          font-size: 12px;
        }
      }
      .icon-mobile {
        // width: 217px;
        display: flex;
        float: right;
        align-items: center;
        justify-content: center;
        margin: {
          left: 10px;
          top: 22px;
        }
        i {
          display: block;
          transform: scale(.7);     
        }
        .icon {
          width: 24px;
          height: 24px;
          background: url("../../img/home/ph.png") no-repeat;
          background-size: 100% 100%;      
          margin-right: -25px;         
        }
        .mobile {
          width: 178px;
          height: 37px;
          background: url("../../img/home/nb.png") no-repeat;
          background-size: 100% 100%;               
        }
      }
    }
    .nav-wrap {
      position: absolute;
      bottom: 0;
    }
  }
  .banner {
    height: 600px;
    background-color: #e6e6e6;
  }
  .sub-banner {
    height: 300px;
    margin: {
      top: 60px;
      bottom: 62px;
    }
    .container {
      .web-width {
        min-width: 1200px;
        width: 100%;
        position: relative;
        z-index: 5;
        background-color: #ffffff;

        .main-div {
          position: relative;
          text-align: center;
          width: 1200px;
          margin: 0 auto;
          padding: 0;
          box-sizing: border-box;

          >ul {
            position: relative;
            padding: 0;
            margin: 0;
            width: 1240px;
            height:300px;
            text-align: center;

            >li {
              margin: 0;
              padding: 0px;
              width:85px;
              height:300px;
              position:relative;
              overflow:hidden;
              float:left;

              a {
                .imgTop {
                  position: absolute;
                  top: 0;
                  text-align: center;
                  height: 300px;

                  .accordion-string {
                    top: 0px;
                    left: 0px;
                    z-index: 9999;
                    position:relative;
                    width: 1020px;
                    height: 100%;
                    display: block;
                    text-align: center;


                    .accordion-img {
                      position: absolute;
                      margin: 0;
                      padding: 0;
                      left: 0;
                      top: 0;

                      transition: all 0.5s ease-in-out;
                    }

                    .accordion-slide {
                      left: 96px!important;
                      top: -96px!important;
                      transition: .5s;
                    }

                    .btn {
                      position: absolute;
                      width: 185px;
                      height: 42px;
                      top: 230px;
                      left: 415px;
                      border-radius: 35px;
                      border: none;
                      font-size: 20px;
                      background-color: #ffe400;
                    }

                    .btn:hover {
                      cursor: pointer;
                      transition: .5s;
                    }
                  }

                  .accordion-string-block {
                    display: block;
                  }
                }

                .imgTop-first {
                  background-image: url("../../img/banner_bg01.png");
                }

                .imgTop-second {
                  background-image: url("../../img/banner_bg02.png");
                }

                .imgTop-third {
                  background-image: url("../../img/banner_bg03.png");
                }
              }
            }

            >li:hover {
              cursor: pointer;
            }

            >li.first{
              width:1020px;
            }
          }


        }
      }

    }
  }
  .toutiao {
    margin-bottom: 10px;
    .title {
      width: 397px;
      height: 75px;
      margin: 0 auto;
      background: url("../../img/home/icon2.png") no-repeat;
      background-size: 100% 100%;
      margin-bottom: 23px;
    }
    .main {
      margin-top: 40px;
      display: flex;
      height: 310px;
      .item {
        height: 100%;
        background-size: cover;
        background-position: bottom;
        flex: 1;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        width: 380px;
        &:hover {
          .blur-container {
            bottom: 0;
            background-color: rgba(255, 225, 0, .9);
            color: #fff;
          }
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
        .blur-container {
          position: absolute;
          bottom: 0;
          overflow: hidden;
          &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            filter: blur(10px);
            background-size: cover;
            margin: -20px;
            z-index: -1;
          }
          > strong {
            height: 3.6em;
            line-height: 1.2em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }
        }
        .act-item-cover {
          bottom: -55px;
          width: 100%;
          height: 138px;
          padding: 24px;
          box-sizing: border-box;
          background-color: hsla(0,0%,100%,.8);
          transition: all .3s;
          &:before {
            background-position: bottom;
            background-size: cover;
          }
        }
      }
    }
  }
  .look-all {
    display: flex;
    align-items: center;
    font-size: 14px;
    &:before,
    &:after {
      content: '';
      flex: 1;
      height: 1px;
      display: block;
      background-color: #282727;
    }
    >a {
      color: #282727;
      display: block;
      width: 160px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border: 1px solid #282727;
      box-sizing: border-box;
    }
  }
  .zhanji {
    padding-bottom: 50px;
    .title {
      width: 145px;
      height: 75px;
      background: url("../../img/home/icon4.png") no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      margin-bottom: 23px;
    }
    .main {
      margin-top: 40px;
      display: flex;
      height: 360px;
      .item {
        flex: 1;
        background-size: cover;
        position: relative;
        overflow: hidden;
        width: 266px;
        &:hover {
          .blur-container {
            bottom: 0;
          }
        }
        &:not(:last-child) {
          margin-right: 45px;
        }
        .blur-container {
          width: 100%;
          position: absolute;
          bottom: -70px;
          transition: all .3s;
          height: 70px;
          box-sizing: border-box;
          background-color: rgba(255, 255, 255, .9);
          padding: 10px 20px;
        }
      }
    }
  }
  .people {
    padding-bottom: 50px;
    .title {
      width: 289px;
      height: 75px;
      background: url("../../img/home/icon1.png") no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      margin-bottom: 23px;
    }
    &.student {
      .title {
        width: 361px;
        height: 75px;
        background-image: url("../../img/home/icon5.png");
      }
    }
    .main {
      margin-top: 40px;
      height: 300px;
      position: relative;
      overflow-x: hidden;

      .container {
        width: 100%;
        overflow-x: hidden;
      }
      .item {
        width: 200px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        &:hover {
          .blur-container {
            top: 0;
          }
        }
        &:not(:last-child) {
          margin-right: 30px;
        }
        .blur-container {
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: -70px;
          transition: all .6s;
          top: 100%;
          box-sizing: border-box;
          background-color: rgba(255, 225, 0, .9);
          padding: 10px 20px;
          overflow: hidden;
          .p-content {
            width: 100%;
            color: #2C2C2C;
            box-sizing: border-box;
            padding: {
              top: 14px;
              left: 7px;
            }
            .name {
              font-size: 20px;
            }
            .icon {
              display: block;
              width: 12px;
              height: 26px;
              background: url("../../img/home/jiaobiao.png") no-repeat;
              background-size: 100% 100%;
              margin: {
                left: 3px;
                top: 15px;
                bottom: 18px;
              }
            }
            .desc {
              word-break: break-all;
              font-size: 13px;
              line-height: 23px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 6;
              overflow: hidden;
            }
            .label {
              color: #FFE100;
              font-size: 20px;
              padding: 2px 50px;
              background-color: #2C2C2C;
              text-align: center;
              transform: rotate(-45deg);
              right: -40px;
              bottom: 15px;
              position: absolute;
            }
          }
          .top {
            width: 100%;
            color: #fff;
            position: absolute;
            height: 36px;
            line-height: 36px;
            text-align: center;
            background-color: rgba(0, 0, 0, .5);
            top: -36px;
            left: 0;
          }
        }
      }
    }
  }
  .school {
    .title {
      width: 145px;
      height: 75px;
      background: url("../../img/home/icon3.png") no-repeat;
      background-size: 100% 100%;
      margin: 0 auto;
      margin-bottom: 23px;
    }
    .main {
      overflow: hidden;
    }
    .swiper-slide {
      width: 500px;
      img {
        width: 500px;
        height: 300px;
      }
      .bottom {
        padding: 0 10px;
        display: flex;
        align-items: center;
        > span {
          margin: 0 15px;
        }
        &:before,
        &:after {
          flex: 1;
          display: flex;
          height: 2px;
          content: '';
          background-color: #666;
        }
      }
    }
  }
  .intro  {
    .campusIntroduction {
      > li {
        display: flex;
        height: 460px;
        margin: 94px auto;
        list-style-type: none;
  
        .campusImg {
          width: 700px;
          height: 100%;
          background-color: #d8d8d8;
  
          > img {
            width: 100%;
            height: 100%;
          }
        }
  
        .interval {
          order: 2;
          width: 70px;
          height: 100%;
        }
  
        .briefIntroduction {
          position: relative;
          width: 430px;
          height: 100%;
  
          .title {
            font-size: 46px;
            color: #282627;
            box-sizing: border-box;
            margin-bottom: 107px;
            text-align: left;
          }
  
          .content {
            font-size: 20px;
            color: #696969;
            text-align: left;
          }
  
          .btn {
            position: absolute;
            width: 80px;
            height: 80px;
            background-color: #fde200;
            bottom: 0;
            right: 0;
          }
        }
      }
  
      > li:nth-child(odd) {
        .campusImg {
          order: 1;
        }
  
        .briefIntroduction {
          order: 3;
        }
      }
  
      > li:nth-child(even) {
        .campusImg {
          order: 3;
        }
  
        .briefIntroduction {
          order: 1;
        }
  
      }
    }
  }  
  .footer {
    color: #666666;;
    background-color: #282828;
    height: 230px;
    padding-bottom: 80px;
    font-size: 14px;
    position: relative;
    .container {
      box-sizing: border-box;
      padding: 38px 50px;
      height: 100%;
    }
    .jieshao {
      display: flex;
      font-size: 14px;
      > li {
        margin-right: 25px;
        &:hover {
          color: #999;
        }
      }
    }
    .xiaoqu {
      margin-top: 18px;
      margin-bottom: 30px;
      width: 942px;
      display: flex;
      flex-wrap: wrap;
      > li {
        margin-bottom: 5px;
        width: 50%;
      }
    }
    .contact {
      .icon-phone {
        position: absolute;
        width: 128px;
        height: 35px;
        background: url("../../img/home/tel2.png") no-repeat;
        background-size: 100% 100%;
        top: 33px;
        right: 270px;
      }
      .wechat {
        position: absolute;
        width: 32px;
        height: 32px;
        background: url("../../img/home/weixin.png") no-repeat;
        background-size: 100% 100%;
        top: 34px;
        right: 210px;
        cursor: pointer;
        &:hover {
          .two-code {
            opacity: 1;
          }
        }
        .two-code {
          position: absolute;
          width: 100px;
          height: 100px;
          background-color: #fff;
          top: -110px;
          left: 50%;
          box-sizing: border-box;
          padding: 5px;
          opacity: 0;
          transition: opacity .3s;
          margin: {
            left: -50px;
          }
          > img {
            width: 100%;
            height: 100%;
            display: block;
            background-color: red;
          }
        }
      }
    }
    a {
      color: inherit;
    }
  }
}

