@import '../mixins';

html, body {
  background-color: #979797;
}

body {
  padding-bottom: px2rem(63px);
}

.header {
  width: pxTorem(375px);
  height: pxTorem(390px);
  background-color: rgba(20, 196, 169, 0.60);
  .menu {
    width: pxTorem(345px);
    height: pxTorem(165px);
    border-radius: pxTorem(4px);
    position: relative;
    top: pxTorem(335px);
    background-color: #fff;
    margin: 0 auto;
    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      li {
        margin: 0 pxTorem(15px);
        margin-top: pxTorem(5px);
        width: px2rem(56px);
        a {
          display: flex;
          font-size: pxTorem(13px);
          color: #4E5358;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          & > p {
            line-height: pxTorem(20px);
          }
        }
        .icon {
          display: block;
          width: pxTorem(39.6px);
          height: pxTorem(39.6px); 
          background-size: pxTorem(39.6px) pxTorem(39.6px);
          background-repeat: no-repeat;
          margin-bottom: pxTorem(3.7px);
          &.gkcj {
            background-image: url("../../img/home/icon_gaokao.png");
          }
          &.xkcj {
            background-image: url("../../img/home/icon_opt_gaokao.png");
          }
          &.myfz {
            background-image: url("../../img/home/icon_high_school.png");
          }
          &.xfgx {
            background-image: url("../../img/home/icon_van_school.png");
          }
          &.ffcj {
            background-image: url("../../img/home/icon_scores.png");
          }
          &.yxxy {
            background-image: url("../../img/home/icon_students.png");
          }
          &.xqjs {
            background-image: url("../../img/home/icon_campus.png");
          }
          &.gyff {
            background-image: url("../../img/home/icon_about.png");
          }
        }
      }
    }
  }
}

.main {
  .banner {
    margin-top: px2rem(110px);
    ul {
      overflow: hidden;
      li {
        width: px2rem(345px);
        height: px2rem(140px);
        background-color: yellowgreen;
        margin: px2rem(10px) auto 0;
        position: relative;
        border-radius: px2rem(4px);        
        img {
          width: px2rem(345px);
          height: px2rem(140px);
          border-radius: px2rem(4px);      
        }
        a {
          width: px2rem(120px);
          height: px2rem(25px);
          line-height: px2rem(25px);
          text-align: center;
          background-color: #FFE518;
          border-radius: px2rem(4px);
          display: block;
          position: absolute;
          bottom: px2rem(9px);
          left: 50%;
          transform: translateX(-50%);
          color: #2F3030;
          font-size: px2rem(14px);
        }
      }
    }
  }
  .top-article {
    width: px2rem(345px);
    height: px2rem(220px);
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    background-color: #fff;
    padding-left: px2rem(11.5px);
    box-sizing: border-box;
    overflow: hidden;
    h2 {
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
      margin-top: px2rem(15.5px);
      line-height: px2rem(24px);
      display: flex;
      a {
        flex: 1;
        padding-right: px2rem(13px);
        text-align: right;
        font-size: px2rem(14px);
        color: #86888A;
      }
    }
    .articles {
      margin-top: px2rem(9px);
      a {
        display: flex;
        p {
          margin-top: px2rem(8px);
          width: px2rem(246.5px);
          height: px2rem(44px);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          line-height: px2rem(21px);
          font-size: px2rem(14px);
        }
        .img-wrap {
          width: px2rem(87.5px);
          height: px2rem(51px);
          background: red;
          position: relative;
          img {
            width: px2rem(70px);
            height: px2rem(44px);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
          }
        }
      }
      li {
        margin-bottom: px2rem(3px);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .ff-score {
    overflow: hidden;
    width: px2rem(345px);
    height: px2rem(240px);
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    background-color: #fff;
    h2 {
      margin: px2rem(10.5px) 0 px2rem(10.5px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
    }
    .swiper-slide {
      margin-left: px2rem(10px);
      width: px2rem(112px) !important;
      .img {
        width: px2rem(112px);
        height: px2rem(155px);
        position: relative;
        background: greenyellow;
        overflow: hidden;
        margin-bottom: px2rem(4.5px);
        border-radius: px2rem(4px);
        img {
          border-radius: px2rem(4px);
          width: px2rem(112px);
          height: px2rem(155px);
        }
      }
      .name {
        text-align: center;
        color: #2F3030;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
      }
    }
  }
  .ff-teacher {
    width: px2rem(345px);
    height: px2rem(240px);
    background-color: #fff;
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    overflow: hidden;
    h2 {
      margin: px2rem(10.5px) 0 px2rem(10.5px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
      display: flex;
      align-items: center;
      a {
        color: #86888A;
        flex: 1;
        font-size: px2rem(14px);
        text-align: right;
        padding-right: px2rem(14px);
      }
    }
    .swiper-slide {
      margin-left: px2rem(10px);
      width: px2rem(112px) !important;
      .img {
        width: px2rem(112px);
        height: px2rem(155px);
        position: relative;
        background: greenyellow;
        overflow: hidden;
        margin-bottom: px2rem(4.5px);
        border-radius: px2rem(4px); 
        img {
          width: px2rem(112px);
          height: px2rem(155px);
          border-radius: px2rem(4px);
        }       
        .label {
          display: block;
          position: absolute;
          width: px2rem(60px);
          background-color: #FADC17;
          font-size: px2rem(12px);
          color: #2F3030;
          text-align: center;
          height: px2rem(45px);
          transform-origin: center;
          transform:  rotate(-45deg);
          left: -.65rem;
          top: -.45rem;
          line-height: px2rem(70px);
        } 
      }
      .name {
        text-align: center;
        color: #2F3030;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
      }
    }
  }
  .ff-school {
    width: px2rem(345px);
    height: px2rem(240px);
    background-color: #fff;
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    overflow: hidden;
    h2 {
      margin: px2rem(14.5px) 0 px2rem(14.5px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
      display: flex;
      align-items: center;
      a {
        color: #86888A;
        flex: 1;
        font-size: px2rem(14px);
        text-align: right;
        padding-right: px2rem(14px);
      }
    }
    .swiper-slide {
      width: px2rem(275px) !important; 
      margin-left: px2rem(5px);
      margin-right: px2rem(5px);     
      .img {
        width: px2rem(275px);
        height: px2rem(150px);
        background: greenyellow;
        border-radius: px2rem(4px);    
        img {
          width: px2rem(275px);
          height: px2rem(150px);
          border-radius: px2rem(4px);  
        }
      }
      .name {
        text-align: center;
        color: #3F4040;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
        margin-top: px2rem(14px);
      }
      &.swiper-slide-active .img {
        box-shadow: 0 px2rem(2px) px2rem(8px) rgba(0, 0, 0, .2);
      }
    }
  }
  .ff-student {
    width: px2rem(345px);
    height: px2rem(240px);
    background-color: #fff;
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    overflow: hidden;
    h2 {
      margin: px2rem(10.5px) 0 px2rem(10.5px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
      display: flex;
      align-items: center;
      a {
        color: #86888A;
        flex: 1;
        font-size: px2rem(14px);
        text-align: right;
        padding-right: px2rem(14px);
      }
    }
    .swiper-slide {
      margin-left: px2rem(10px);
      width: px2rem(112px) !important;
      .img {
        width: px2rem(112px);
        height: px2rem(155px);
        position: relative;
        background: greenyellow;
        overflow: hidden;
        margin-bottom: px2rem(4.5px);
        border-radius: px2rem(4px); 
        img {
          width: px2rem(112px);
          height: px2rem(155px);
          border-radius: px2rem(4px);
        }       
        .label {
          display: block;
          position: absolute;
          width: px2rem(60px);
          background-color: #FADC17;
          font-size: px2rem(12px);
          color: #2F3030;
          text-align: center;
          height: px2rem(45px);
          transform-origin: center;
          transform:  rotate(-45deg);
          left: -.65rem;
          top: -.45rem;
          line-height: px2rem(70px);
        } 
      }
      .name {
        text-align: center;
        color: #2F3030;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
      }
    }
  }
  .ff-ads {
    overflow: hidden;
    .ad-why {
      margin-top: px2rem(10px);
      width: 100%;
      background-color: #fff;
      padding-bottom: px2rem(10px);
      .item {
        margin: 0 auto;
        margin-bottom: px2rem(15px);
        background-color: greenyellow;
        width: px2rem(345px);
        height: px2rem(365px);
        box-shadow: 0 px2rem(2.5px) px2rem(4px) rgba(0, 0, 0, .11);
        border-radius: px2rem(4px);
      }
    }
    .ad-free {
      margin-top: px2rem(10px);
      background: #fff;
      width: 100%;
      padding-bottom: px2rem(10px);
      .item {
        margin: 0 auto;
        margin-bottom: px2rem(15px);
        width: px2rem(345px);
        height: px2rem(146.5px);
        box-shadow: 0 px2rem(2.5px) px2rem(4px) rgba(0, 0, 0, .11);
        background-color: goldenrod;
        border-radius: px2rem(4px);
      }
    }
  }
}
.footer {
  margin-top: px2rem(10px);
  font-size: px2rem(14px);
  line-height: px2rem(20px);
  color: #86888A;
  text-align: center;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: px2rem(71px); // 11
  background: url("../../img/home/icon_bottom.png") no-repeat left center;
  background-size: px2rem(375px) px2rem(71px);
  z-index: 10;
  .wrap {
    height: px2rem(50px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
  }
  .center {
    width: px2rem(63px);
    height: px2rem(63px);
    position: relative;
    top: px2rem(-12px);
    .icon {
      display: block;
      width: px2rem(45px);
      height: px2rem(45px);
      margin: 0 auto;
      margin-top: px2rem(10px);
      background-size: px2rem(45px) px2rem(45px);
      background-repeat: no-repeat;
      margin-bottom: px2rem(1.5px);
    }
  }
  .right {
    a:first-child {
      margin-left: px2rem(27px) !important;
    }
  }
  .left, .right {
    display: flex;
    position: relative;
    z-index: 12;
    flex: 1;
    align-items: center;
    & > a {
      outline: none;
      margin-top: px2rem(5px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:first-child {
        margin-left: px2rem(23.5px);
        margin-right: px2rem(47px);
      }
      .icon {
        display: block;
        width: px2rem(20px);
        height: px2rem(20px);
        background-size: px2rem(20px) px2rem(20px);
        background-repeat: no-repeat;
        margin-bottom: px2rem(1.5px);
      }
      .name {
        font-size: px2rem(14px);
        line-height: px2rem(20px);
        color: #D8D8D8;
      }
      &.active {
        .name {
          color: #2A2B2F;                  
        }
      }
    }
  }

  .nav-home {
    .icon {
      background-image: url("../../img/home/icon_home02.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_home.png");
      }
    }
  }
  .nav-appoint {
    .icon {
      background-image: url("../../img/home/icon_appointment.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_appointment02.png");
      }
    }
  }
  .nav-im {
    .icon {
      background-image: url("../../img/home/icon_im.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_im02.png");
      }
    }
  }
  .nav-gift {
    .icon {
      background-image: url("../../img/home/icon_gift.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_gift02.png");
      }
    }
  }
  .nav-call {
    .icon {
      background-image: url("../../img/home/icon_call.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_call02.png");
      }
    }
  }
}
