@import '../mixins';
@import '../_common';

html, body {
  background-color: #f5f5f5;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: px2rem(375px);
  height: px2rem(44px);
  box-shadow: 0 px2rem(1px) px2rem(3px) rgba(0,0,0,0.10);
  background-color: #fff;
  z-index: 100;
  h1 {
    text-align: center;
    line-height: px2rem(44px);
    color: #212224;
    font-size: px2rem(17px);
  }
  #back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: px2rem(35px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    i {
      display: block;
      width: px2rem(10px);
      height: px2rem(16px);
      background-size: px2rem(10px) px2rem(16px);
      background-repeat: no-repeat;
      background-image: url("../../img/common/back.png");
    }
  }
}

.content {
  padding: pxTorem(12px) 0;
  padding-bottom: px2rem(32px);
  box-sizing: border-box;
  width: pxTorem(355px);
  background-color: #ffffff;
  margin: pxTorem(10px) auto;
  box-shadow: 0 pxTorem(1px) pxTorem(2px) 0 rgba(208,226,248,0.50);
  border-radius: pxTorem(3px);

  .headSculpture {
    position: absolute;
    left: pxTorem(18px);
    width: pxTorem(45px);

    >div {
      height: pxTorem(45px);
      width: pxTorem(45px);
      border: none;
      border-radius: pxTorem(180px);
      background-image: url("../../img/common/headSculpture.png");
      background-size: 100% 100%;
      
    }
  }

  .genearch {
    position: relative;
    margin-top: pxTorem(5px);
    margin-right: pxTorem(30px);
    margin-left: pxTorem(65px);
    font-size: pxTorem(14px);
    color: #86888A;
    letter-spacing: 0;
    line-height: pxTorem(20px);
  }

  .comment {
    width: pxTorem(283px);
    margin-left: pxTorem(65px);
    margin-right: pxTorem(30px);
    font-size: pxTorem(12px);
    color: #2F3030;
    letter-spacing: 0;
    margin-top: pxTorem(7px);
    line-height: pxTorem(16.5px);
  }

}

.firstContent {
  margin-top: pxTorem(54px)!important;
}
