  @import '../mixins';
  @import '../_common';

  html, body {
    background-color: #f5f5f5;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: px2rem(375px);
    height: px2rem(44px);
    box-shadow: 0 px2rem(1px) px2rem(3px) rgba(0,0,0,0.10);
    background-color: #fff;
    z-index: 100;
    h1 {
      text-align: center;
      line-height: px2rem(44px);
      color: #212224;
      font-size: px2rem(17px);
    }
    #back {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: px2rem(35px);
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
      i {
        display: block;
        width: px2rem(10px);
        height: px2rem(16px);
        background-size: px2rem(10px) px2rem(16px);
        background-repeat: no-repeat;
        background-image: url("../../img/common/back.png");
      }
    }
  }

  .title {
    width: pxTorem(342px);
    height: pxTorem(28px);
    font-size: pxTorem(20px);
    line-height: pxTorem(28px);
    color: #212224;
    margin: {
      top: pxTorem(54px);
      left: px2rem(15px);
      right: auto;
      bottom: 0;
    };
  }

  .counterMark {
    width: 100%;
    height: pxTorem(16px);
    font-size: pxTorem(12px);
    color: #3181E0;
    margin-left: px2rem(15px);
    margin-top: px2rem(5px);
    line-height: pxTorem(16.5px);
  }

  .frontCover {
    width: px2rem(345px);
    height: px2rem(180px);
    margin: px2rem(15px) auto;
    background-color: #72DA66;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    width: px2rem(345px);
    margin: 0 auto;

    font-size: px2rem(13px);
    color: #212224;
    line-height: px2rem(18.5px);
  }
