@import '../mixins';
@import '../_common';

html, body {
  background-color: #f5f5f5;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: px2rem(375px);
  height: px2rem(44px);
  box-shadow: 0 px2rem(1px) px2rem(3px) rgba(0,0,0,0.10);
  background-color: #fff;
  z-index: 100;
  h1 {
    text-align: center;
    line-height: px2rem(44px);
    color: #212224;
    font-size: px2rem(17px);
  }
  #back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: px2rem(35px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    i {
      display: block;
      width: px2rem(10px);
      height: px2rem(16px);
      background-size: px2rem(10px) px2rem(16px);
      background-repeat: no-repeat;
      background-image: url("../../img/common/back.png");
    }
  }
}

.main {
  padding-top: px2rem(54px);
  width: px2rem(355px);
  margin: 0 auto;
  .header {
    width: 100%;
    height: px2rem(160px);
    border-radius: px2rem(3px);
    position: relative;
    margin-bottom: px2rem(10px);
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: px2rem(3px);
    }
    .mask {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .7));
      border-radius: px2rem(3px);
    }
    .title {
      color: #fff;
      font-size: px2rem(15px);
      line-height: px2rem(21px);
      height: px2rem(21px);
      width: px2rem(312px);
      position: absolute;
      left: px2rem(15px);
      bottom: px2rem(11.5px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .item {
    width: px2rem(340px);
    height: px2rem(90px);
    margin-bottom: px2rem(10px);
    color: #212224;
    position: relative;
    a {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: px2rem(3px);
      background-color: #fff;
      box-sizing: border-box;
      padding: {
        top: px2rem(11px);
        left: px2rem(14px);
      }
    }
    .title {
      width: px2rem(183px);
      font-size: px2rem(15px);
      line-height: px2rem(21px);
      word-break: break-all;
      overflow: hidden; 
      text-overflow: ellipsis;
      display: -webkit-box; 
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; 
    }
    .tag {
      color: #3181E0;
      font-size: px2rem(12px);
      line-height: px2rem(16.5px);
      margin-top: px2rem(12px);
    }
    img {
      width: px2rem(130px);
      height: px2rem(75px);
      position: absolute;
      display: block;
      border-radius: px2rem(3px);
      top: 50%;
      transform: translateY(-50%);
      right: px2rem(-15px);
    }
  }
}
