@import '../mixins';
@import '../_common';

html, body {
  background-color: #f5f5f5;
}

.header {
  width: px2rem(375px);
  height: px2rem(230px);
  overflow: hidden;
  position: relative;
  .swiper-pagination {
    bottom: px2rem(10px) !important;
    .swiper-pagination-bullet {
      background-color: #fff !important;
      opacity: .49 !important;
      &.swiper-pagination-bullet-active {
        background-color: #C8041D !important;
        opacity: 1 !important;
      }
    }
  }
  img {
    width: px2rem(375px);
    height: px2rem(230px);
  }
}

.banner {
  background-color: #fff;
  width: px2rem(375px);
  height: px2rem(180px);
  margin-top: px2rem(10px);
  box-sizing: border-box;
  padding: {
    top: px2rem(10px);
  }
  .baoming {
    display: block;
    width: px2rem(345px);
    height: px2rem(140px);
    margin: {
      left: auto;
      right: auto;
      bottom: px2rem(6.5px);
    }
    img {
      display: block;
      width: px2rem(345px);
      height: px2rem(140px);
      border-radius: px2rem(4px);
    }
  }
  .more {
    color: #86888A;
    font-size: px2rem(12px);
    line-height: px2rem(16.5px);
    display: table;
    margin: 0 auto;
    .icon-right {
      display: inline-block;
      width: px2rem(4.5px);
      height: px2rem(8.5px);
      background: url("../../img/highSchool/more04.png") no-repeat;
      background-size: px2rem(4.5px) px2rem(8.5px);
      margin-left: px2rem(5px);
    }
  }
}

.main {
  width: px2rem(345px);
  margin: px2rem(10px) auto 0;
  overflow: hidden;
  .ff-score {
    overflow: hidden;
    width: px2rem(345px);
    height: px2rem(240px);
    margin: 0 auto;
    border-radius: px2rem(4px);
    background-color: #fff;
    h2 {
      margin: px2rem(10.5px) 0 px2rem(10.5px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
    }
    .swiper-slide {
      margin-left: px2rem(10px);
      width: px2rem(112px) !important;
      display: block;
      .img {
        width: px2rem(112px);
        height: px2rem(155px);
        position: relative;
        overflow: hidden;
        margin-bottom: px2rem(4.5px);
        border-radius: px2rem(4px);
        img {
          border-radius: px2rem(4px);
          width: px2rem(112px);
          height: px2rem(155px);
        }
      }
      .name {
        text-align: center;
        color: #2F3030;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
      }
    }
  }
  .ff-student {
    width: px2rem(345px);
    height: px2rem(240px);
    background-color: #fff;
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    overflow: hidden;
    h2 {
      margin: px2rem(10.5px) 0 px2rem(10.5px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
      display: flex;
      align-items: center;
      a {
        color: #86888A;
        flex: 1;
        font-size: px2rem(14px);
        text-align: right;
        padding-right: px2rem(14px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 1;
        .icon-right {
          display: inline-block;
          width: px2rem(8.5px);
          height: px2rem(15px);
          background: url("../../img/highSchool/moer03.png") no-repeat;
          background-size: 100% 100%;
          margin-left: px2rem(5px);
          margin-top: px2rem(-1px);
        }
      }
    }
    .swiper-slide {
      margin-left: px2rem(10px);
      width: px2rem(112px) !important;
      display: block;
      .img {
        width: px2rem(112px);
        height: px2rem(155px);
        position: relative;
        overflow: hidden;
        margin-bottom: px2rem(4.5px);
        border-radius: px2rem(4px); 
        img {
          width: px2rem(112px);
          height: px2rem(155px);
          border-radius: px2rem(4px);
        }       
        .label {
          display: block;
          position: absolute;
          width: px2rem(90px);
          background-color: #C8041D;
          font-size: px2rem(11px);
          color: #fff;
          text-align: center;
          height: px2rem(16px);
          transform-origin: center;
          transform:  rotate(45deg);
          left: -.6rem;
          bottom: .3rem;
          line-height: px2rem(16px);
        } 
      }
      .name {
        text-align: center;
        color: #2F3030;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
      }
    }
  }
  .koubei {
    width: px2rem(345px);
    height: px2rem(140px);
    background-color: #fff;
    border-radius: px2rem(4px);
    box-sizing: border-box;
    color: #2F3030;
    margin-top: px2rem(10px);
    padding: {
      top: px2rem(10.5px);
      left: px2rem(10.5px);
      right: px2rem(10px);
    }
    h2 {
      display: flex;
      font-size: px2rem(17px);
      line-height: px2rem(24px);
      align-items: center;
      a {
        flex: 1;
        justify-content: flex-end;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
        color: #86888A;
        display: flex;
        align-items: center;
        .icon-right {
          display: inline-block;
          width: px2rem(8.5px);
          height: px2rem(15px);
          background: url("../../img/highSchool/moer03.png") no-repeat;
          background-size: 100% 100%;
          margin-left: px2rem(5px);
          margin-top: px2rem(-1px);
        }
      }
    }
    .st-vertical {
      height: px2rem(90.5px);
      margin-top: px2rem(15px);
      overflow: hidden;
      .avatar {
        width: px2rem(30px);
        height: px2rem(30px);
        border-radius: 50%;
        display: block;
        float: left;
        margin-top: px2rem(2px);
      }
      .content {
        margin-left: px2rem(39.5px);
        height: 100%;
        .name {
          font-size: px2rem(14px);
          line-height: px2rem(20px);
          margin-bottom: px2rem(4.5px);
        }
        .detail {
          font-size: px2rem(11px);
          line-height: px2rem(15px);
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }

  }
  .ff-work {
    width: px2rem(345px);
    height: px2rem(225px);
    background-color: #fff;
    margin: px2rem(10px) auto 0;
    border-radius: px2rem(4px);
    overflow: hidden;
    h2 {
      margin: px2rem(10.5px) 0 px2rem(11px) px2rem(9px);
      font-weight: normal;
      font-size: px2rem(17px);
      color: #2F3030;
      display: flex;
      align-items: center;
      a {
        color: #86888A;
        flex: 1;
        font-size: px2rem(14px);
        text-align: right;
        padding-right: px2rem(14px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        line-height: 1;
        .icon-right {
          display: inline-block;
          width: px2rem(8.5px);
          height: px2rem(15px);
          background: url("../../img/highSchool/moer03.png") no-repeat;
          background-size: 100% 100%;
          margin-left: px2rem(5px);
          margin-top: px2rem(-1px);
        }
      }
    }
    .swiper-slide {
      margin-left: px2rem(10px);
      width: px2rem(112px) !important;
      display: block;
      .img {
        width: px2rem(112px);
        height: px2rem(155px);
        position: relative;
        overflow: hidden;
        margin-bottom: px2rem(4.5px);
        border-radius: px2rem(4px); 
        img {
          width: px2rem(112px);
          height: px2rem(155px);
          border-radius: px2rem(4px);
        }       
        .label {
          display: block;
          position: absolute;
          width: px2rem(60px);
          background-color: #C8041D;
          font-size: px2rem(12px);
          color: #fff;
          text-align: center;
          height: px2rem(45px);
          transform-origin: center;
          transform:  rotate(-45deg);
          left: -.65rem;
          top: -.45rem;
          line-height: px2rem(70px);
        } 
      }
      .name {
        text-align: center;
        color: #2F3030;
        font-size: px2rem(14px);
        line-height: px2rem(20px);
      }
    }
  }
  .bk-banner {
    width: 100%;
    border-radius: px2rem(4px);
  }
  .free {
    margin-top: px2rem(10px);
    background: #fff;
    width: 100%;
    padding-bottom: px2rem(10px);
    border-radius: px2rem(4px);
    .ad-free-header {
      height: px2rem(85.5px);
      margin-left: px2rem(15px);
      color: #2F3030;
      overflow: hidden;
      background: url("../../img/home/FREE.png") no-repeat;
      background-size: px2rem(205px) px2rem(56px);
      background-position: right top;
      .sub-title {
        font-size: px2rem(15px);
        line-height: px2rem(21px);
        margin-top: px2rem(15px);
      }
      h2 {
        font-size: px2rem(20px);
        line-height: px2rem(28px);
      }
    }
    .item {
      margin: 0 auto;
      margin-bottom: px2rem(15px);
      width: px2rem(345px);
      height: px2rem(146.5px);
      a {
        display: block;
        width: 100%;
        height: 100%;
        img {
          display: block;
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
          border-radius: px2rem(4px);
          box-shadow: 0 px2rem(2.5px) px2rem(4px) rgba(88,183,237,0.20);
        }
      }
    }
  }
}