/* navigation common style */

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: px2rem(71px); // 11
  background: url("../../img/home/icon_bottom.png") no-repeat left center;
  background-size: px2rem(375px) px2rem(71px);
  z-index: 10;
  .wrap {
    height: px2rem(50px);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
  }
  .center {
    width: px2rem(63px);
    height: px2rem(63px);
    position: relative;
    top: px2rem(-12px);
    .icon {
      display: block;
      width: px2rem(45px);
      height: px2rem(45px);
      margin: 0 auto;
      margin-top: px2rem(10px);
      background-size: px2rem(45px) px2rem(45px);
      background-repeat: no-repeat;
      margin-bottom: px2rem(1.5px);
    }
  }
  .right {
    a:first-child {
      margin-left: px2rem(27px) !important;
    }
  }
  .left, .right {
    display: flex;
    position: relative;
    z-index: 12;
    flex: 1;
    align-items: center;
    & > a {
      outline: none;
      margin-top: px2rem(5px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &:first-child {
        margin-left: px2rem(23.5px);
        margin-right: px2rem(47px);
      }
      .icon {
        display: block;
        width: px2rem(20px);
        height: px2rem(20px);
        background-size: px2rem(20px) px2rem(20px);
        background-repeat: no-repeat;
        margin-bottom: px2rem(1.5px);
      }
      .name {
        font-size: px2rem(14px);
        line-height: px2rem(20px);
        color: #D8D8D8;
      }
      &.active {
        .name {
          color: #2A2B2F;                  
        }
      }
    }
  }

  .nav-home {
    .icon {
      background-image: url("../../img/home/icon_home02.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_home.png");
      }
    }
  }
  .nav-appoint {
    .icon {
      background-image: url("../../img/home/icon_appointment.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_appointment02.png");
      }
    }
  }
  .nav-im {
    .icon {
      background-image: url("../../img/home/icon_im.png");
    }
    &.active, &:active, &:hover {
      .icon {
        background-image: url("../../img/home/icon_im02.png");
      }
      .name {
        color: #2A2B2F;                  
      }
    }
  }
  .nav-gift {
    .icon {
      background-image: url("../../img/home/icon_gift.png");
    }
    &.active {
      .icon {
        background-image: url("../../img/home/icon_gift02.png");
      }
    }
  }
  .nav-call {
    .icon {
      background-image: url("../../img/home/icon_call.png");
    }
    &:focus {
      .icon {
        background-image: url("../../img/home/icon_call02.png");
      }
    }
  }
}